[Unit]
Description=Run the PIA port forward service every 15 minutes
After=openvpn.target
BindsTo=openvpn.target
Requires=openvpn.target

[Timer]
OnUnitInactiveSec=10m
OnActiveSec=15s

[Install]
WantedBy=timers.target
